*{
    margin:0px;
    box-sizing:border-box;
    padding:0px;
}


body{
    font-family:'Roboto', sans-serif;
    font-size:12px;
    background-color:#ebebeb;
    } 
    


header{
        background-color:#EAC926;
        padding: 20px;
        margin-top: 10px;           
    }

.link-logo{
    width:50%;
}
.logo{
    width:100%;
    
    
}
img{
    width: 100%;
}

.header-bottom-bar{
    display: none;
}

.header-top-bar{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}



.busqueda{
    background-color: white;
    text-align:left;
    border:solid 1px black;
    color:#666;
        
}

.busqueda2{
    background-color: white;
    text-align:left;
    border:solid 1px black;
    color:#666;
}

.search{
    display: flex;
    width: 50%;
    
}
.search-form{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.search-form input{
    width: 80%;
    border-radius: 0px;
    
}
.search-button{
    border:none;
    background-color: white;
    padding-right: 5px;
}


.copy{
    margin: auto;
    margin-top: 10px;
}
.centrado{
    text-align: center;
}

nav {
    margin-top:30px;
    text-align:left;
}

nav ul li a{
    text-decoration: none;
    color:black;
    }

.burger-menu i{
    background-color:#1259c3;
    text-align: center;
    font-size: 15px;
    color:white;
    padding:10px;
    margin: 10px;
}



footer{
    text-align: center;
    background-color: white;
    margin: 5px;
    

}
footer section article{
    padding: 30px;
}


h5{
    font-size: 16px;
}
.icono-azul{
    transition:color 450ms;
}
footer p{
    padding: 10px 0px 10px 0px;
}
.icono-azul{
    font-size: 2em;
    margin-bottom: 10px;
}


main {
     width: 90vw;
     margin:0 auto;
}

main section article{
    margin-bottom: 10px;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    
}
i.fas.fa-truck.verde.deliver {
    transition-property:transform;
    transition-duration: 1s;
}
.contenedor{
    display:flex;
    flex-wrap: wrap;
    border-top: solid 1px #ebebeb;
    padding: 15px;
    background-color: white;
    position:relative;
    justify-content: space-between;
}

.precio{
    flex-grow:3;
}
.descuentos{
    flex-grow:7;
}
.descripcionArticulo{
    display: none;
}

/*login*/
.login-button{
    transition:background-color 1s, color 1s;

}
.contenedor-enviar{
    display: flex;
    justify-content: center;
}

/*formulario registro*/
input {
border:none;
padding:7px;
border-radius: 10px;
}
#nacimiento{
    margin-top: 10px;
}



.register-form{
    margin:10px 0px 20px 0px;
    box-shadow:  2px 6px 11px 4px rgb(0 0 0 / 20%);
    padding: 20px 10px;
}
.titulo-register{
    margin-top: 20px;
    text-align: center;
}
.register-form input{
    width: 100%;
    margin:0px 0px 10px 0px;
    
}
.register-form h4{
    margin-top: 5px;
}
.register-form button{
    margin-top: 20px;
    margin-right: 10px;
    padding: 5px;
}
.contenedor-botones{
    display: flex;
    justify-content: center;
}
.perfil-usuario{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.perfil-usuario input{
    width: 5%;
    margin-left: 10px;
}
.intereses{
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    
}
.intereses input{
    width:5%;



    
}
/*fuentes*/
.precio{
    font-size: 18px;
}

.titulares{
    font-size:24px;
    margin: 10px 0px;
}
.descuentos{
font-size: 16px;    
}
.descripciones{
    font-size:16 px;
}

/*paleta*/
.amarillo{
color: #EAC926;
}

.azul{color: #03264C;
}

.celeste{color:#1259c3;
}

.gris-oscuro{color: #666;
}

.gris-claro{color: #ebebeb;
}

.verde{color: #39b54a;
}


/*Para esto nos facilitó los siguientes estilos generales:

● Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/

@media (min-width:361px){

.burger-menu i{
    display: none;
}
main section article{
    width: 45%;
}
.descripcionArticulo{
    display: block;
}
        
.header-bottom-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-bottom-bar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.header-bottom-bar li{
padding: 3px;
    
}
.products{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.link-logo{
    width:30%;
}
.logo{
    width: 100%;
}
.search-form{
    width: 30%;
    align-self: center;
}

.copy{
    margin:0;
    width:30%
}

}

@media (min-width:769px){
   .burger-menu i{
       display: none;
   }
   main section article {
        width: 22%;
}

.login-button:hover{
background-color:#0022AA;
color: white;
}

.descripcionArticulo{
    display: none;
}
main section article:hover .descripcionArticulo{
    display: block;
}
main section article:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    
}
i.fas.fa-truck.verde.deliver:hover{
    transform: rotate(-0.15turn);
}

.footer-elements{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer section article{
    width: 30%;
    padding: 10px;
}

.icono-azul:hover{
color:#1259c3;
}
.copy{
    display: flex;
    justify-content: flex-end;
}
.register-form{
   
    text-align: center;
    max-width: 60%;
    margin: 10px auto;
}
.intereses{
   display: block;
}
#electro , #moda , #hogar , #jugueteria , #vidasana{
    width: 5%;
}
.contenedor-perfil{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
}
#comprador , #vendedor{
    width: 10%;
}
.perfil-usuario{
    justify-content: center;
    margin-top: 10px;
    
}

    
}

